<!DOCTYPE html>
<html class="no-js" lang="en" prefix="og: http://ogp.me/ns#">
<head>
  <meta charset="utf-8" />
  <title>{{ pageName }} - PhantomFlexboxTest</title>
  <link rel="stylesheet" property="stylesheet" href="styles/{{ assetPath('main.css') }}" type="text/css" media="screen">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script>document.querySelector('html').classList.remove('no-js');</script>
</head>
<body class="{{ bodyClass }}">
  <main>
    {% block content %}
      No content
    {% endblock %}
  </main>
  <aside>
    {% block aside %}
      Sidebar
    {% endblock %}
  </aside>
  <footer>
    Footer
  </footer>
  <script src="scripts/{{ assetPath('bundle.js') }}" async></script>
</body>
</html>
