{% extends "_base.twig" %}
{% set pageName = 'Test1' %}

{% block content %}

  <ul class="o-list-bare c-test1-list">
    <li>A</li>
    <li>B</li>
    <li>C</li>
    <li>D</li>
    <li>E</li>
  </ul>

{% endblock %}
